@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply m-0 p-0 overflow-hidden bg-[#010103] text-white;
    }
}

@layer utilities {
    .canvas-container {
        @apply absolute inset-0 z-0 h-screen w-screen;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.02);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(0, 255, 102, 0.3);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 255, 102, 0.6);
    }
}